In [32]:
import pandas as pd
import numpy as np
from dateutil.parser import parse
import datetime
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [33]:
d1 = pd.read_csv('data/first_df.csv')

In [34]:
df2 = pd.DataFrame(columns=['D', 'Weekday','Avg_duration', 'Avg_cash', 'Num_ppl'])

In [35]:
items_str = []
for i in range(1, 34):
    items_str.append('item_' + str(i))
df_cols = ['D', 'T_period', 'Weekday','Avg_duration', 'Avg_cash', 'Num_ppl', 'Total_sum']
df_cols.extend(items_str)

In [36]:
while (d1.shape[0]>0):
    temp_series = pd.Series(index=df_cols)
    dt=  d1.loc[0, 'Date']
    tp = d1.loc[0,'T_period']
    
    temp_series['D'] = d1.loc[0, 'Date']
    temp_series['T_period'] = d1.loc[0, 'T_period']
    temp_series['Weekday'] = d1.loc[0, 'Weekday']
    temp_series['Avg_duration'] = np.round(d1.Duration[((d1.Date==dt) & (d1.T_period==tp))].mean(), decimals=1)
    temp_series['Avg_cash'] = np.round(d1.Total_sum[((d1.Date==dt) & (d1.T_period==tp))].mean(), decimals=1)
    temp_series['Num_ppl'] = d1.Num_guests[((d1.Date==dt) & (d1.T_period==tp))].sum()
    temp_series['Total_sum'] = d1.Total_sum[((d1.Date==dt) & (d1.T_period==tp))].sum()
    
    for i in range(1, 34):
        ind = 'item_' + str(i)
        temp_series[ind] = d1[ind][((d1.Date==dt) & (d1.T_period==tp))].sum()
    
    
    df2 = df2.append(temp_series, ignore_index=True)
    d1 = d1.drop(d1[((d1.Date==dt) & (d1.T_period==tp))].index, axis=0)
    d1 = d1.reset_index(drop=True)

In [37]:
for i in range(df2.shape[0]):
    df2.D[i] = parse(df2.D[i]).date()

In [30]:
df2.head(5)

,D,Weekday,Avg_duration,Avg_cash,Num_ppl,T_period,Total_sum,item_1,item_10,item_11,...,item_30,item_31,item_32,item_33,item_4,item_5,item_6,item_7,item_8,item_9
0,2017-04-06,4.0,18.8,3.1,15,midday,44.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,1.0,1.0
1,2017-04-06,4.0,9.8,3.3,31,morning,86.5,2.0,2.0,0.0,...,0.0,0.0,0.0,0.0,6.0,1.0,0.0,4.0,2.0,3.0
2,2017-04-06,4.0,24.1,4.4,31,evening,102.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,2.0,0.0
3,2017-04-07,5.0,7.5,3.1,37,morning,96.5,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,6.0,1.0,0.0,1.0,0.0,3.0
4,2017-04-07,5.0,6.3,3.1,26,midday,74.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,10.0,2.0,0.0,3.0,1.0,0.0

In [23]:
df2.to_excel(excel_writer='data/pday.xlsx', index = False)